@using LANWeb.Models
@model GameSession
@{

}


<div class="gameScreen">
    <label>@Model.GameType</label> - <label>@Model.GameDescription</label>
    <br />
    <div>
        <label class="inline">Session Code: </label>
        <h2 class="inline">@Model.SessionCode</h2>
        <p class="inline"> --- Players joined:</p>
        <h2 class="inline" id="PlayerCount">0</h2>
        <h2 class="inline">/</h2>
        <h2 class="inline" id="MaxPlayerCount">@Model.MaxPlayers</h2>
        <h2 class="inline" id="ReadySign" style="color:green; display:none">[Ready to start.]</h2>
    </div>
    <div id="GameMap">
    </div>
</div>

<script>
    $(document).ready(function () {
        loadMap('@Model.SessionCode', '@Url.Action("LoadMap")')

        function loadMap(sessionCode, url) {
            $.ajax({
                type: "POST",
                dataType: "html",
                data: {
                    sessionCode: sessionCode
                },
                url: url,
                success: function (data) {
                    $("#GameMap").html(data);
                },
                complete: function() {
                }
            });
        }
        
    });
</script>